<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The krish new playground for testing ar3</title>
  <meta name="description" content="krish web">
  <meta name="author" content="SitePoint">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <link rel="shortcut icon" href="">




</head>

<body>
    <!-- <div id="root">..</div> -->
  <div id="root"><%- initialContent -%></div>


 <script src="/index.js" charset="utf-8"></script>
</body>
</html>
