<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>style play ground</title>
  <meta name="description" content="style web">
  <meta name="author" content="SitePoint">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <link rel="shortcut icon" href="">




</head>

<body>

<!-- <h1>from style.html</h1> -->
<div id="main">...loadin</div>
<script src="/style.js" charset="utf-8"></script>
</body>
</html>
